{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "title": "Helpoo Api Documentation",
    "description": "Documentation automatically generated by the <b>swagger-autogen</b> module, for <b>Helpoo</b>."
  },
  "servers": [
    {
      "url": "http://apidev.helpooapp.net/"
    },
    {
      "url": "https://apidev.helpooapp.net/"
    }
  ],
  "tags": [
    {
      "name": "User",
      "description": "Endpoints"
    }
  ],
  "paths": {
    "/api/v2/accidentReports/insurance/{insCompId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "insCompId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/broker/{brokerId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/getAll": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/search": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "insuranceCompanyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/show/{reportId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/getByStatus/{insId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "insId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/getByStatus/{brokerId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/getAllByStatus": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "create accident report",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "type": "string",
                  "example": "01000000000"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "example": 30.123456
                    },
                    "lng": {
                      "type": "number",
                      "example": 31.123456
                    },
                    "address": {
                      "type": "string",
                      "example": "address"
                    }
                  },
                  "required": [
                    "lat",
                    "lng",
                    "address"
                  ]
                },
                "accidentTypeId": {
                  "type": "number",
                  "example": 1
                },
                "carId": {
                  "type": "number",
                  "example": 1
                },
                "createdByUser": {
                  "type": "number",
                  "example": 1
                }
              },
              "required": [
                "phoneNumber",
                "location",
                "accidentTypeId",
                "carId",
                "createdByUser"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phoneNumber": {
                    "example": "any"
                  },
                  "location": {
                    "example": "any"
                  },
                  "accidentTypeId": {
                    "example": "any"
                  },
                  "carId": {
                    "example": "any"
                  },
                  "createdByUser": {
                    "example": "any"
                  },
                  "insuranceCompanyId": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/accidentReports/submitBill/{accidentReportId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "accidentReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "submit bill",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "billDeliveryLocation": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "example": 30.123456
                    },
                    "lng": {
                      "type": "number",
                      "example": 31.123456
                    },
                    "address": {
                      "type": "string",
                      "example": "address"
                    }
                  },
                  "required": [
                    "lat",
                    "lng",
                    "address"
                  ]
                }
              },
              "required": [
                "billDeliveryLocation"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/updateStatus/{accidentReportId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "accidentReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update status",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "police"
                }
              },
              "required": [
                "status"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/accidentReports/requestBeforeRepair/{accidentReportId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "accidentReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request before repair",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "beforeRepairLocation": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "example": 30.123456
                    },
                    "lng": {
                      "type": "number",
                      "example": 31.123456
                    },
                    "address": {
                      "type": "string",
                      "example": "address"
                    }
                  },
                  "required": [
                    "lat",
                    "lng",
                    "address"
                  ]
                },
                "bRepairName": {
                  "type": "string",
                  "example": "name"
                },
                "status": {
                  "type": "string",
                  "example": "bRepair"
                }
              },
              "required": [
                "beforeRepairLocation",
                "bRepairName",
                "status"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/requestRightSave/{accidentReportId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "accidentReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request right save",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "rightSaveLocation": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "example": 30.123456
                    },
                    "lng": {
                      "type": "number",
                      "example": 31.123456
                    },
                    "address": {
                      "type": "string",
                      "example": "address"
                    }
                  },
                  "required": [
                    "lat",
                    "lng",
                    "address"
                  ]
                },
                "status": {
                  "type": "string",
                  "example": "rightSave"
                }
              },
              "required": [
                "rightSaveLocation",
                "status"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/requestSupplement/{accidentReportId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "accidentReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request supplement",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "supplementLocation": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "example": 30.123456
                    },
                    "lng": {
                      "type": "number",
                      "example": 31.123456
                    },
                    "address": {
                      "type": "string",
                      "example": "address"
                    }
                  },
                  "required": [
                    "lat",
                    "lng",
                    "address"
                  ]
                },
                "status": {
                  "type": "string",
                  "example": "supplement"
                }
              },
              "required": [
                "supplementLocation",
                "status"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/requestResurvey/{accidentReportId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "accidentReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request resurvey",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "resurveyLocation": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "example": 30.123456
                    },
                    "lng": {
                      "type": "number",
                      "example": 31.123456
                    },
                    "address": {
                      "type": "string",
                      "example": "address"
                    }
                  },
                  "required": [
                    "lat",
                    "lng",
                    "address"
                  ]
                },
                "status": {
                  "type": "string",
                  "example": "resurvey"
                }
              },
              "required": [
                "resurveyLocation",
                "status"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/requestAfterRepair/{accidentReportId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "accidentReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request after repair",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "afterRepairLocation": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "example": 30.123456
                    },
                    "lng": {
                      "type": "number",
                      "example": 31.123456
                    },
                    "address": {
                      "type": "string",
                      "example": "address"
                    }
                  },
                  "required": [
                    "lat",
                    "lng",
                    "address"
                  ]
                },
                "status": {
                  "type": "string",
                  "example": "aRepair"
                }
              },
              "required": [
                "afterRepairLocation",
                "status"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/flairSoleraFunctions/{accidentReportId}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "accidentReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/uploadImages/{accidentReportId}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "accidentReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload images",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "images": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "image": {
                        "type": "string",
                        "example": "base64"
                      },
                      "additional": {
                        "type": "boolean",
                        "example": false
                      },
                      "isFinished": {
                        "type": "boolean",
                        "example": false
                      },
                      "imageName": {
                        "type": "string",
                        "example": "id_img3"
                      }
                    }
                  }
                }
              },
              "required": [
                "images"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "images": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/accidentReports/closeFNOL/{accidentReportId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "accidentReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/latestReports/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/updateReport/{id}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update accident report",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "created"
                },
                "commentUser": {
                  "type": "string",
                  "example": "base64"
                },
                "comment": {
                  "type": "string",
                  "example": "comment"
                }
              },
              "required": [
                "status",
                "commentUser",
                "comment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audioCommentWritten": {
                    "example": "any"
                  },
                  "status": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/accidentReports/reject/{id}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/forInspector/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentReports/forInspection/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentTypes/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/accidentTypes/images": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accidentTypesIds": {
                    "example": "any"
                  },
                  "inspection": {
                    "example": "any"
                  },
                  "inspectionId": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/branches/": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "CorporateCompanyId": {
                    "example": "any"
                  },
                  "name": {
                    "example": "any"
                  },
                  "phoneNumber": {
                    "example": "any"
                  },
                  "address": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/branches/corp/{corpId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "corpId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/branches/one/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "example": "any"
                  },
                  "phoneNumber": {
                    "example": "any"
                  },
                  "address": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/brokers/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/cars/policies/{insuranceCompanyId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "insuranceCompanyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/cars/policies/cancelPolicy/{carId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "carId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/cars/create": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "create car",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "type": "string",
                  "example": "01254525454865"
                },
                "email": {
                  "type": "string",
                  "example": "test@email.com"
                },
                "name": {
                  "type": "string",
                  "example": "test"
                },
                "car": {
                  "type": "object",
                  "properties": {
                    "plateNumber": {
                      "type": "string",
                      "example": "123456"
                    },
                    "vinNumber": {
                      "type": "string",
                      "example": "123456"
                    },
                    "insuranceCompanyId": {
                      "type": "number",
                      "example": 1
                    },
                    "policyNumber": {
                      "type": "string",
                      "example": "123456"
                    },
                    "policyEnds": {
                      "type": "string",
                      "example": "2021-01-01"
                    },
                    "appendix_number": {
                      "type": "string",
                      "example": "123456"
                    },
                    "packageId": {
                      "type": "number",
                      "example": 1
                    }
                  },
                  "required": [
                    "plateNumber",
                    "vinNumber",
                    "insuranceCompanyId",
                    "policyNumber",
                    "policyEnds",
                    "appendix_number",
                    "packageId"
                  ]
                }
              },
              "required": [
                "phoneNumber",
                "email",
                "name",
                "car"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "car": {
                    "example": "any"
                  },
                  "phoneNumber": {
                    "example": "any"
                  },
                  "email": {
                    "example": "any"
                  },
                  "name": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cars/myCars": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/cars/addCar": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Add car",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "plateNumber": {
                  "type": "string",
                  "example": "123456"
                },
                "vin_number": {
                  "type": "string",
                  "example": "123456"
                },
                "ClientId": {
                  "type": "number",
                  "example": 1
                },
                "insuranceCompanyId": {
                  "type": "number",
                  "example": 1
                },
                "policyNumber": {
                  "type": "string",
                  "example": "123456"
                },
                "policyEnds": {
                  "type": "string",
                  "example": "2021-01-01"
                },
                "appendix_number": {
                  "type": "string",
                  "example": "123456"
                }
              },
              "required": [
                "plateNumber",
                "vin_number",
                "ClientId",
                "insuranceCompanyId",
                "policyNumber",
                "policyEnds",
                "appendix_number"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phoneNumber": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cars/getAllCars": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/cars/confirmAndActivate/{id}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirm and activate car",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "clientId": {
                  "type": "number",
                  "example": 1
                },
                "insuranceCompanyId": {
                  "type": "number",
                  "example": 1
                },
                "policyNumber": {
                  "type": "string",
                  "example": "123456"
                },
                "policyEnds": {
                  "type": "string",
                  "example": "2021-01-01"
                },
                "appendix_number": {
                  "type": "string",
                  "example": "123456"
                },
                "plateNumber": {
                  "type": "string",
                  "example": "123456"
                },
                "vin_number": {
                  "type": "string",
                  "example": "123456"
                },
                "fl": {
                  "type": "string",
                  "example": "image Base64"
                },
                "bl": {
                  "type": "string",
                  "example": "image Base64"
                }
              },
              "required": [
                "clientId",
                "insuranceCompanyId",
                "policyNumber",
                "policyEnds",
                "appendix_number",
                "plateNumber",
                "vin_number",
                "fl",
                "bl"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "example": "any"
                  },
                  "insuranceCompanyId": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cars/getCar/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/cars/getCarByPlate/{plateNo}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "plateNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/cars/getCarByUserPhone/{phone}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/cars/deleteMyCar/{id}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v2/cars/getCarByVinNumber": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "get car by vin number",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "vinNo": {
                  "type": "string",
                  "example": "123456"
                },
                "insuranceCompanyId": {
                  "type": "number",
                  "example": 1
                },
                "clientId": {
                  "type": "number",
                  "example": 1
                }
              },
              "required": [
                "vinNo",
                "insuranceCompanyId",
                "clientId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "insuranceCompanyId": {
                    "example": "any"
                  },
                  "vinNo": {
                    "example": "any"
                  },
                  "clientId": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cars/updateCar/{id}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update car",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "vin_number": {
                  "type": "string",
                  "example": "123456"
                },
                "plateNumber": {
                  "type": "string",
                  "example": "123456"
                },
                "insuranceCompanyId": {
                  "type": "number",
                  "example": 1
                },
                "policyNumber": {
                  "type": "string",
                  "example": "123456"
                },
                "policyEnds": {
                  "type": "string",
                  "example": "2021-01-01"
                },
                "appendix_number": {
                  "type": "string",
                  "example": "123456"
                },
                "fl": {
                  "type": "string",
                  "example": "image Base64"
                },
                "bl": {
                  "type": "string",
                  "example": "image Base64"
                },
                "active": {
                  "type": "boolean",
                  "example": true
                }
              },
              "required": [
                "vin_number",
                "plateNumber",
                "insuranceCompanyId",
                "policyNumber",
                "policyEnds",
                "appendix_number",
                "fl",
                "bl",
                "active"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/carAccidentReport/createPdfReport": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "create pdf report",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "pdfReportId": {
                  "type": "number",
                  "example": 1
                },
                "AccidentReportId": {
                  "type": "number",
                  "example": 1
                },
                "carId": {
                  "type": "number",
                  "example": 1
                },
                "Type": {
                  "type": "string",
                  "example": "pdf"
                },
                "pdfReport": {
                  "type": "string",
                  "example": "base64"
                }
              },
              "required": [
                "pdfReportId",
                "AccidentReportId",
                "carId",
                "Type",
                "pdfReport"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pdfReportId": {
                    "example": "any"
                  },
                  "AccidentReportId": {
                    "example": "any"
                  },
                  "carId": {
                    "example": "any"
                  },
                  "Type": {
                    "example": "any"
                  },
                  "pdfReport": {
                    "example": "any"
                  },
                  "subject": {
                    "example": "any"
                  },
                  "text": {
                    "example": "any"
                  },
                  "pdfLink": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/carAccidentReport/receivePDF": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reportId": {
                    "example": "any"
                  },
                  "reportLink": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/carAccidentReport/createPdfReportCombine": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "create pdf report",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "pdfReportId": {
                  "type": "number",
                  "example": 1
                },
                "AccidentReportId": {
                  "type": "number",
                  "example": 1
                },
                "carId": {
                  "type": "number",
                  "example": 1
                },
                "Type": {
                  "type": "string",
                  "example": "pdf"
                },
                "pdfReport": {
                  "type": "string",
                  "example": "base64"
                }
              },
              "required": [
                "pdfReportId",
                "AccidentReportId",
                "carId",
                "Type",
                "pdfReport"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pdfReportId": {
                    "example": "any"
                  },
                  "AccidentReportId": {
                    "example": "any"
                  },
                  "carId": {
                    "example": "any"
                  },
                  "Type": {
                    "example": "any"
                  },
                  "pdfReportOne": {
                    "example": "any"
                  },
                  "pdfReportTwo": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/carAccidentReport/getPdfReports/{accidentReportId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "accidentReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/carModels/": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/carModels/manufacturer/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/carModels/create": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Create Car model",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "ar_name": {
                  "type": "string",
                  "example": "موديل السيارة"
                },
                "en_name": {
                  "type": "string",
                  "example": "car model"
                },
                "ManufacturerId": {
                  "type": "number",
                  "example": 1
                }
              },
              "required": [
                "ar_name",
                "en_name",
                "ManufacturerId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/carModels/model/{id}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Update Car model",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "ar_name": {
                  "type": "string",
                  "example": "موديل السيارة"
                },
                "en_name": {
                  "type": "string",
                  "example": "car model"
                },
                "ManufacturerId": {
                  "type": "number",
                  "example": 1
                }
              },
              "required": [
                "ar_name",
                "en_name",
                "ManufacturerId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/corporates/create": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Create Corporate Company",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "en_name": {
                  "type": "string",
                  "example": "string"
                },
                "ar_name": {
                  "type": "string",
                  "example": "string"
                },
                "discount_ratio": {
                  "type": "number",
                  "example": 15
                },
                "deferredPayment": {
                  "type": "boolean",
                  "example": true
                },
                "endDate": {
                  "type": "string",
                  "example": "2021-12-12"
                },
                "cash": {
                  "type": "boolean",
                  "example": true
                },
                "credit": {
                  "type": "boolean",
                  "example": true
                },
                "online": {
                  "type": "boolean",
                  "example": true
                },
                "photo": {
                  "type": "string",
                  "example": "string"
                }
              },
              "required": [
                "en_name",
                "ar_name",
                "discount_ratio",
                "deferredPayment",
                "endDate",
                "cash",
                "credit",
                "online",
                "photo"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v2/corporates/getAll": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/corporates/serviceRequests/{corporateId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "corporateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/corporates/one/{corporateCompanyId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "corporateCompanyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/corporates/{corporateCompanyId}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "corporateCompanyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "corporateCompanyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Update Corporate Company",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "en_name": {
                  "type": "string",
                  "example": "string"
                },
                "ar_name": {
                  "type": "string",
                  "example": "string"
                },
                "discount_ratio": {
                  "type": "number",
                  "example": 15
                },
                "deferredPayment": {
                  "type": "boolean",
                  "example": true
                },
                "endDate": {
                  "type": "string",
                  "example": "2021-12-12"
                },
                "cash": {
                  "type": "boolean",
                  "example": true
                },
                "credit": {
                  "type": "boolean",
                  "example": true
                },
                "online": {
                  "type": "boolean",
                  "example": true
                },
                "photo": {
                  "type": "string",
                  "example": "string"
                }
              },
              "required": [
                "en_name",
                "ar_name",
                "discount_ratio",
                "deferredPayment",
                "endDate",
                "cash",
                "credit",
                "online",
                "photo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/corporates/search": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/corporates/usersInCorporate/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/country/cities": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/country/districts": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/country/districtsByCity/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/clients/getAll": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/clients/getOne/{clientId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/clients/edit/{clientId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edit client",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "active": {
                  "type": "string",
                  "example": "true"
                },
                "confirmed": {
                  "type": "string",
                  "example": "true"
                }
              },
              "required": [
                "active",
                "confirmed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/drivers/autoChangeDriver": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "driverId": {
                    "example": "any"
                  },
                  "requestId": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/getDriver": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "get driver",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "carServiceTypeId": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "example": 31.123
                    },
                    "lng": {
                      "type": "number",
                      "example": 31.123
                    }
                  },
                  "required": [
                    "lat",
                    "lng"
                  ]
                }
              },
              "required": [
                "carServiceTypeId",
                "location"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "carServiceTypeId": {
                    "example": "any"
                  },
                  "location": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/getDriverOtherServices": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "get driver",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "carServiceTypeId": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "example": 31.123
                    },
                    "lng": {
                      "type": "number",
                      "example": 31.123
                    }
                  },
                  "required": [
                    "lat",
                    "lng"
                  ]
                }
              },
              "required": [
                "carServiceTypeId",
                "location"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "carServiceTypeId": {
                    "example": "any"
                  },
                  "location": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/getDriversService": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "get driver",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "carServiceTypeId": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ],
                  "items": {
                    "type": "number"
                  }
                }
              },
              "required": [
                "carServiceTypeId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "carServiceTypes": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/getDriversMap": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/drivers/getOne/{driverId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/drivers/assignDriver": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "assign driver",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "requestId": {
                  "type": "number",
                  "example": 1
                },
                "driverId": {
                  "type": "number",
                  "example": 1
                }
              },
              "required": [
                "requestId",
                "driverId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "example": "any"
                  },
                  "driverId": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/unassignDriver": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/assignVehicle": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assign vehicle",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "driverId": {
                  "type": "number",
                  "example": 1
                },
                "IMEI": {
                  "type": "string",
                  "example": "IMEI"
                },
                "fcmtoken": {
                  "type": "string",
                  "example": "token"
                }
              },
              "required": [
                "driverId",
                "IMEI",
                "fcmtoken"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "driverId": {
                    "example": "any"
                  },
                  "IMEI": {
                    "example": "any"
                  },
                  "fcmtoken": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/logout": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "logout",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "driverId": {
                  "type": "number",
                  "example": 1
                }
              },
              "required": [
                "driverId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "driverId": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/driverStats": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/drivers/updateStatus": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update status",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "driverId": {
                  "type": "number",
                  "example": 1
                },
                "available": {
                  "type": "boolean",
                  "example": true
                }
              },
              "required": [
                "driverId",
                "available"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "driverId": {
                    "example": "any"
                  },
                  "available": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/getAll": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/drivers/updateDriverPhoto/{id}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update driver photo",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "string",
                  "example": "image"
                }
              },
              "required": [
                "image"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/updateLocation/{id}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update driver location",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "lng": {
                      "type": "number",
                      "example": 1
                    },
                    "lat": {
                      "type": "number",
                      "example": 1
                    }
                  }
                }
              },
              "required": [
                "location"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/getDurationAndDistance": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "driverLocation": {
                    "example": "any"
                  },
                  "curClientLocation": {
                    "example": "any"
                  },
                  "prevClientLocation": {
                    "example": "any"
                  },
                  "oldDest": {
                    "example": "any"
                  },
                  "from": {
                    "example": "any"
                  },
                  "reqId": {
                    "example": "any"
                  },
                  "status": {
                    "example": "any"
                  },
                  "traffic": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/drivers/getDurationAndDistanceOtherServices": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "driverLocation": {
                    "example": "any"
                  },
                  "curClientLocation": {
                    "example": "any"
                  },
                  "from": {
                    "example": "any"
                  },
                  "reqId": {
                    "example": "any"
                  },
                  "traffic": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/fcm/notifyMessage": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notify message",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "example": "token"
                },
                "title": {
                  "type": "string",
                  "example": "title"
                },
                "body": {
                  "type": "string",
                  "example": "body"
                },
                "type": {
                  "type": "string",
                  "example": "type"
                },
                "key": {
                  "type": "number",
                  "example": 1
                }
              },
              "required": [
                "token",
                "title",
                "body",
                "type",
                "key"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/history/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/history/forUser/{userId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/history/one/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/history/byDate": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/history/getHistoryAndCount": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "apiName": {
                    "example": "any"
                  },
                  "from": {
                    "example": "any"
                  },
                  "to": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/inspections/create": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/inspections/getAll/{insId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "insId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/inspections/forInspector/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/inspections/forInspection/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v2/inspections/uploadPdf/{id}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pdfBase64": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/inspections/uploadImages/{id}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authentication",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inspectorImages": {
                    "example": "any"
                  },
                  "supplementImages": {
                    "example": "any"
                  },
                  "additionalPaperImages": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/inspections/uploadInsuranceImages/{id}": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
[...]
