extends baseEmail
block content
    div(style="direction: rtl; text-align: right;")
    p(style="direction: rtl; text-align: right;")
        each line in text
            br
            | #{line} 
    p - Helpoo