<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>الشروط و الاحكام</title>
      <style>
         body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            line-height: 1.6;
            text-align: right;
            direction: rtl;
         }
         h1 {
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
         }
         h2 {
            font-size: 20px;
            text-decoration: underline;
         }
         h3 {
            font-size: 16px;
            text-decoration: underline;
         }
         p {
            margin-bottom: 10px;
         }
         ul {
            margin: 0;
            padding-left: 20px;
         }
      </style>
   </head>
   <body>
      <h1>الشروط و الاحكام</h1>
      <p>
         تشكل البنود والشروط الواردة هنا اتفاقية قانونية بينك وبين هلبو للمساعدة
         على الطريق و التواصل مع شركات التأمين ، باستخدام تطبيقات أو مواقع ويب
         وتنزيل أو تثبيت أو استخدام أي برامج أو تطبيقات مرتبطة توفرها الشركة
         والغرض منها هو تمكينك من استخدام الخدمة (يُشار إليها إجمالاً باسم
         "البرنامج") ، أنت بموجب هذا تقر وتوافق على الالتزام بشروط وأحكام هذه
         الاتفاقية وأي تعديلات وإضافات مستقبلية على هذه الاتفاقية كما يتم نشرها
         من وقت لآخر على موقع الشركة الإلكتروني أو من خلال الخدمات الأخرى.
         <br />
         تحتفظ الشركة بالحق في تعديل شروط وأحكام هذه الاتفاقية أو سياساتها
         المتعلقة بالخدمة أو البرنامج في أي وقت ، وتكون سارية عند نشر نسخة محدثة
         من هذه الاتفاقية على الخدمة أو البرنامج. أنت مسؤول عن مراجعة هذه
         الاتفاقية بانتظام. استمرار استخدام الخدمة أو البرنامج بعد أي تغييرات من
         هذا القبيل يشكل موافقتك على هذه التغييرات. إذا كنت بحاجة إلى مزيد من
         المعلومات أو لديك أي أسئلة حول الشروط والأحكام الخاصة بنا ، فلا تتردد
         في الاتصال بنا عبر البريد الإلكتروني على <a
            href="mailto:support@helpooapp.com"
         >
            support@helpooapp.com </a
         >.
      </p>
      <h2>الخدمات</h2>
      <p>
         هلبو هو تطبيق هاتف سهل الاستخدام حيث يمكنك طلب خدمات المساعدة على
         الطريق في مصر على الفور وبسهولة والإبلاغ عن حادث فور وقوعه و تصوير
         التلفيات باستخدام الذكاء الاصطناعى مع تسجيل صوتى لوصف الحادث او كتابته
         . باستخدام الخدمة ، فإنك توافق على إعفاء الشركة من المسؤولية عن أي
         مسؤولية أو ضرر قد ينشأ عن المعاملات المعنية. لا تتحمل الشركة ولا
         الشركات التابعة لها أو المرخِّصون لها المسؤولية عن السلوك ، سواء عبر
         الإنترنت أو دون الاتصال بالإنترنت ، لأي مستخدم للخدمة أو خدمات تابعة
         لجهة خارجية أو أي من مزودي خدمات الطرف الثالث. لن تتحمل الشركة والشركات
         التابعة لها والمرخصون لها أي مطالبة أو إصابة أو ضرر ناتج عن استخدامك
         للخدمة أو خدمات الطرف الثالث. بطلبك للخدمة، فإنك توافق على تحملك لتكلفة
         الخدمة وأي تكاليف مرتبطة بها. وفي حالة انتظار سيارات الإنقاذ التابعة
         للشركة مع العميل، فإن العميل ملزم بتحمل تكلفة الانتظار وأي تكاليف
         إضافية مترتبة عليها. يرجى ملاحظة أن هذه الشروط والأحكام تنطبق على جميع
         عمليات الخدمة المقدمة من قبل الشركة.
      </p>
      <h3>التأكيدات والضمانات</h3>
      <p>
         استخدام البرنامج أو الخدمة ، فإنك تقر وتضمن صراحةً أنه يحق لك قانونًا
         الدخول في هذه الاتفاقية. بدون تقييد ما سبق ، لا تتوفر الخدمة والبرامج
         للأطفال (الأشخاص الذين تقل أعمارهم عن 18 عامًا) أو غيرهم من الأشخاص غير
         القادرين على إبرام عقود ملزمة ، ما لم يكن لديهم موافقة وإذن من الوصي.
         باستخدام البرنامج أو الخدمة ، فإنك تقر وتتعهد بأن عمرك لا يقل عن 18
         عامًا ، أو أنك حصلت على موافقة ولي الأمر ، و / أو أنك قادر على الدخول
         في عقود ملزمة. باستخدام البرنامج أو الخدمة ، فإنك تقر وتضمن أن لديك
         الحق والسلطة والقدرة على إبرام هذه الاتفاقية والالتزام بشروط وأحكام هذه
         الاتفاقية. إن مشاركتك في استخدام الخدمة و / أو البرنامج هي لاستخدامك
         الشخصي فقط. لا يجوز لك تفويض الآخرين لاستخدام حالة المستخدم الخاصة بك ،
         ولا يجوز لك تعيين أو نقل حساب المستخدم الخاص بك إلى أي شخص أو كيان آخر
         دون الحصول على موافقة مسبقة من الشركة. عند استخدام البرنامج أو الخدمة ،
         فإنك توافق على الامتثال لجميع القوانين المعمول بها في الدولة والمدينة
         التي تتواجد فيها أثناء استخدام البرنامج أو الخدمة. لا يجوز لك استخدام
         الخدمة إلا باستخدام الوسائل المصرح بها. تقع على عاتقك مسؤولية التحقق
         للتأكد من تنزيل البرنامج الصحيح لجهازك. الشركة غير مسؤولة إذا لم يكن
         لديك هاتف متوافق أو إذا قمت بتنزيل الإصدار الخاطئ من البرنامج لهاتفك.
         باستخدام البرنامج أو الخدمة ، فإنك توافق على ما يلي:
      </p>
      <ul>
         <li>
            لن تستخدم الخدمة أو البرنامج إلا للأغراض القانونية ؛ لن تستخدم
            الخدمة لإرسال أو تخزين أي مواد غير قانونية أو لأغراض احتيالية.
         </li>
         <li>
            لن تستخدم الخدمة أو البرنامج للتسبب في الإزعاج أو الإزعاج أو
            الإزعاج.
         </li>
         <li>لن تضعف التشغيل السليم للشبكة.</li>
         <li>لن تحاول الإضرار بالخدمة أو البرنامج بأي شكل من الأشكال.</li>
         <li>
            لن تقوم بنسخ أو توزيع البرنامج أو أي محتوى آخر بدون إذن كتابي من
            الشركة
         </li>
         <li>
            ستستخدم البرنامج والخدمة فقط لاستخدامك الخاص ولن تعيد بيعها لطرف
            ثالث
         </li>
         <li>
            ستحافظ على سرية كلمة مرور حسابك أو أي تعريف مقدم لك يسمح بالوصول إلى
            الخدمة
         </li>
         <li>
            سوف تزودنا بأي إثبات هوية او اثبات ملكية السيارة قد تطلبه الشركة
            بشكل معقول
         </li>
         <li>سوف تستخدم فقط نقطة اتصال أو حساب بيانات مصرح لك باستخدامه</li>
         <li>
            لن تقوم بتصوير الشركة أو الشركات التابعة لها بطريقة سلبية أو تصور
            خدماتها بطريقة خاطئة أو مضللة أو مهينة أو مسيئة
         </li>
         <li>
            لن تنشر أو تنقل أي صورة أو صورة لشخص آخر دون موافقة ذلك الشخص ، إذا
            كان وبالقدر اللازم بموجب القوانين المعمول بها.
         </li>
         <li>
            لن تقوم بنشر أو نقل أو إعادة إنتاج أو توزيع أو استغلال بأي شكل من
            الأشكال أي معلومات أو برامج أو مواد أخرى تم الحصول عليها من خلال
            الخدمات لأغراض تجارية (بخلاف ما هو مسموح به صراحةً بواسطة الخدمة ومن
            قبل مزود هذه المعلومات أو البرامج أو مواد أخرى).
         </li>
         <li>
            لن تقوم بتحميل أو نشر أو نقل أو إعادة إنتاج أو توزيع بأي شكل من
            الأشكال أو المعلومات أو البرامج أو المواد الأخرى التي تم الحصول
            عليها من خلال الخدمات المحمية بموجب حقوق النشر أو حقوق الملكية
            الأخرى أو الأعمال المشتقة ، دون الحصول على إذن من مالك حقوق الطبع
            والنشر أو صاحب الحق ، بما في ذلك على سبيل المثال لا الحصر ، براءات
            الاختراع أو العلامات التجارية أو الأسرار التجارية أو حقوق النشر أو
            الدعاية أو حقوق الملكية الأخرى
         </li>
      </ul>
      <h2>الترخيص والقيود</h2>
      <p>
         تمنحك الشركة بموجب هذا حقًا غير حصري وغير قابل للتحويل لاستخدام
         البرنامج والخدمة ، فقط للأغراض الشخصية غير التجارية ، وفقًا لشروط
         وأحكام هذه الاتفاقية. جميع الحقوق غير الممنوحة لك صراحةً محفوظة من قبل
         الشركة ومرخصيها. لا يجب عليك :
      </p>
      <ul>
         <li>
            الترخيص أو الترخيص من الباطن أو البيع أو إعادة البيع أو النقل أو
            التنازل أو التوزيع أو الاستغلال التجاري أو إتاحة الخدمة أو البرنامج
            لأي طرف ثالث بأي شكل من الأشكال ؛
         </li>
         <li>تعديل أو عمل أعمال مشتقة بناءً على الخدمة أو البرنامج</li>
         <li>
            إنشاء "روابط" للإنترنت بالخدمة أو "تأطير" أو "عكس" أي برنامج على أي
            خادم آخر أو جهاز لاسلكي أو مستند إلى الإنترنت
         </li>
         <li>هندسة عكسية للبرنامج</li>
         <li>
            الوصول إلى البرامج أو الخدمات من أجل بناء منتج أو خدمة تنافسية ،
         </li>
         <li>
            إنشاء منتج باستخدام أفكار أو ميزات أو وظائف أو رسومات مماثلة للخدمة
            أو البرنامج
         </li>
         <li>نسخ أي أفكار أو ميزات أو وظائف أو رسومات للخدمة أو البرنامج</li>
         <li>
            تشغيل برامج او تطبيقات اوتوماتيكية تقوم بارسال عدد لانهائى من
            الطلبات على الخادم الخاص بالشركة
         </li>
         <li>
            إرسال أو تخزين مواد منتهكة أو فاحشة أو مهددة أو تشهيرية أو غير
            قانونية أو مؤذية ، بما في ذلك المواد الضارة بالأطفال أو التي تنتهك
            حقوق خصوصية الشركة
         </li>
         <li>
            إرسال أو تخزين المواد التي تحتوي على فيروسات برامج أو فيروسات متنقلة
            أو أي تعليمات برمجية أو ملفات أو نصوص أو وكلاء أو برامج ضارة أخرى
         </li>
         <li>
            التدخل في أو تعطيل سلامة أو أداء البرنامج أو الخدمة أو البيانات
            الواردة فيهما
         </li>
         <li>
            محاولة الوصول غير المصرح به إلى البرنامج أو الخدمة أو الأنظمة أو
            الشبكات ذات الصلة.
         </li>
      </ul>

      <h2>الاشتراك فى الباقات</h2>
      <p>تنطبق الشروط التالية على الاشتراك فى باقات هلبو</p>
      <ul>
         <li>يجب تجديد اشتراكات العضوية من قبل المستخدم.</li>
         <li>
            يمكنك إلغاء اشتراك العضوية الخاص بك في أي وقت باتباع الإرشادات
            المضمنة في البريد الإلكتروني الخاص بتأكيد شراء اشتراك العضوية أو أو
            تجديده ، وكل ذلك يخضع للشروط الواردة أدناه:
         </li>
         <li>
            سيتوقف الإلغاء عن التجديد التلقائي لاشتراك العضوية والمدفوعات
            المستقبلية ، ولكن رسوم الاشتراك السابقة للعضوية غير قابلة للاسترداد.
         </li>
         <li>
            يتم الإفصاح عن فترة العضوية وتفاصيل الباقة وتكلفة اشتراك العضوية
            الذي تشتريه قبل الشراء وتأكيده بعد الشراء.
         </li>
         <li>
            نقوم بنقل معلومات الفواتير الخاصة بك إلى معالج (معالجات) الدفع لدينا
            كما هو موضح في سياسة الخصوصية الخاصة بنا.
         </li>
         <li>
            قد تخضع العروض لقيود إضافية ، والتي يتم تقديمها لك بشكل عام في وقت
            استلام العرض
         </li>
         <li>
            الباقات مقدمه فقط لسيارات الاستخدام الشخصي فقط، وليس لسيارات
            الاستخدام التجاري.
         </li>
         <li>
            في حال ثبوت استخدام العضوية لسيارات ذات اغراض تجارية(تاكسى , نقل
            فردى او تشاركى ,شحن او اى استخدام تجارى اخر) ، يتم سحب حق العميل في
            الاستفادة من العضوية
         </li>
      </ul>
      <p>
         اقرأ شروط اشتراك العضوية هذه بعناية قبل استخدام خدمات اشتراك العضوية.
         تشكل شروط اشتراك العضوية هذه (والتي تتضمن المستندات الأخرى المشار إليها
         أدناه) اتفاقية قانونية بينك و بين هلبو . إذا قمت بشراء اشتراك عضوية أو
         التسجيل فيه من خلال شريك خارجي لهلبو ، فقد تخضع أيضًا لشروط وأحكام
         إضافية توفرها تلك الخدمة.
      </p>
      <ul>
         <li>
            1. متطلبات الأهلية <br />
            لكي تكون مؤهلاً للوصول إلى اشتراك العضوية واستخدامها ، يجب أن تفي
            بالمعايير التالية ("متطلبات الأهلية"):
            <ul>
               <li>
                  يجب أن تكون داخل مصر ، وأن يكون عمرك 18 عامًا على الأقل ، وأن
                  تكون مؤهل و قادرًا على الدخول في اتفاقية ملزمة
               </li>
               <li>
                  يجب أن يكون لديك حساب في هلبو ، والذي يتضمن دفع جميع الرسوم
                  والضرائب المطبقة إن وجدت
               </li>
               <li>
                  يجب أن تستوفي أي مؤهلات إضافية أو أن تلتزم بأي قيود تم الإفصاح
                  عنها مع عرض اشتراك العضوية المعمول به ، والذي قد نقوم بتحديثه
                  من وقت لآخر.
               </li>
            </ul>
         </li>
         <li>
            2. الاشتراك في العضوية <br />
            يمكنك شراء اشتراك العضوية ("التسجيل"). تشمل الرسوم ضرائب ضريبة
            القيمة المضافة عند الاقتضاء.
         </li>
         <li>
            3. الاستخدام والتجديد <br />

            يمكنك استخدام خدمات هلبو بعد 4 ايام من اتمام اشتراك العضوية بعد ،
            وتستمر حتى نهاية فترة العضوية المعمول بها. يجب عليك تعيين سيارة أو
            أكثر للحزمة ، ويمكنك استخدام السيارة المخصصة لحزمة واحدةواحدة فقط و
            لا يجوز الدمج بين باقاتين لنفس السيارة فى ان واحد . من أجل الاستمرار
            في الوصول إلى خدمات اشتراك العضوية بعد انتهاء فترة الدفع الخاصة بك
            سوف تحتاج إلى شراء اشتراك عضوية جديد.
         </li>
         <li>
            4. إلغاء الاشتراك في العضوية. المبالغ المستردة <br />
            لا يمكنك إلغاء اشتراك العضوية في أي وقت.
         </li>
         <li>
            5. التوفر والتعديلات <br />
            تحتفظ هلبو بالحق في تعديل خدمات الاشتراك بالعضوية أو عرضها أو التوقف
            عن تقديمها في أي وقت وفقًا لتقديرها الخاص ، بما في ذلك على سبيل
            المثال لا الحصر ، التغييرات في الرسوم أو تعديل توافر ومتطلبات
            الأهلية لبعض خدمات اشتراك العضوية أو تعديل الميزات ووظائف بعض خدمات
            اشتراك العضوية. إذا توقفنا عن تقديم اشتراك العضوية الحالي الخاص بك ،
            فسيستمر وصولك إلى خدمات اشتراك العضوية حتى نهاية فترة عضويتك. سنزودك
            بإخطار مسبق بثلاثين (30) يومًا عبر البريد الإلكتروني قبل أن تسري
            التغييرات في خدمات أو رسوم الاشتراك في العضوية. يرجى مراجعة شروط
            وأحكام خدمة اشتراك العضوية الخاصة بك. تسري أي تغييرات تطرأ على خدمات
            أو رسوم اشتراك العضوية على دورة الفوترة التالية المرتبطة ببدء فترة
            العضوية ، ولن تنطبق بأثر رجعي على فترة العضوية الحالية.
         </li>
         <li>
            6. تغييرات على شروط الاشتراك في العضوية <br />

            يجوز لنا تعديل شروط اشتراك العضوية هذه من وقت لآخر. إذا قمنا بإجراء
            تغييرات جوهرية على شروط اشتراك العضوية هذه كما تنطبق على خدمة اشتراك
            العضوية النشطة حاليًا ، فسنقدم لك إشعارًا مناسبًا بهذه التغييرات.
            ستصبح شروط اشتراك العضوية المعدلة سارية عند التجديد التالي لاشتراك
            العضوية الخاص بك وسيشكل استمرار استخدامك لخدمات اشتراك العضوية
            موافقتك على الشروط المعدلة. إذا لم تكن على استعداد للموافقة على
            التعديلات ، يمكنك إلغاء خدمات اشتراك العضوية الخاصة بك كما هو موضح
            في القسم 4 أعلاه.
         </li>
         <li>
            7. مصدر الاشتراك في العضوية <br />
            هلبو هي المُصدر لخدمات الاشتراك في العضوية في جمهورية مصر العربية
            والأقاليم التابعة لها.
         </li>
         <li>
            8. الرسوم وشروط الدفع <br />

            أنت مسؤول عن سداد جميع الرسوم في الوقت المناسب وتزويد الشركة بحساب
            بطاقة ائتمان صالح لدفع جميع الرسوم في جميع الأوقات. إذا قمت بالدفع
            مقابل منتجاتنا أو خدماتنا على موقعنا الإلكتروني أو تطبيق الهاتف
            المحمول الخاص بنا ، فسيتم تقديم تفاصيل الدفع التي سيُطلب منك إرسالها
            مباشرةً إلى مزود الدفع أو معالجنا عبر اتصال آمن. يجب على حامل
            البطاقة الاحتفاظ بنسخة من سجلات المعاملات وسياسات وقواعد التاجر.
            نقبل المدفوعات عبر الإنترنت باستخدام بطاقة الائتمان / الخصم فيزا
            وماستركارد بالجنيه المصري (أو أي عملات أخرى متفق عليها). يجب عليك
            تقديم معلومات الفواتير المحدثة ، بما في ذلك طريقة الدفع. أنت تفوضنا
            وتوجهنا إلى تحصيل الرسوم من طريقة الدفع المحددة الخاصة بك لهذه
            الرسوم أو ، إذا فشلت طريقة الدفع المحددة الخاصة بك ، لتحصيل أي طريقة
            دفع أخرى مسجلة لدينا. يحق للشركة ، وفقًا لتقديرها الخاص ، تقديم عروض
            ترويجية بميزات مختلفة وأسعار مختلفة لأي من عملائنا. لن يكون لهذه
            العروض الترويجية ، ما لم يتم تقديمها لك ، أي تأثير من أي نوع على
            عرضك أو عقدك. يجوز للشركة تغيير رسوم خدماتنا كما نراه ضروريًا
            لأعمالنا. نحن نشجعك على التحقق مرة أخرى من تطبيق الهاتف المحمول
            الخاص بنا بشكل دوري إذا كنت مهتمًا بمواكبة أسعار الباقات.
         </li>
      </ul>
      <!-- ... (Rest of the sections and content) -->
      <h3>نقطة اضافية :</h3>
      <p>
         استخدام الباقة للحالات الطارئة فقط بالإضافة إلى الشروط والأحكام
         المذكورة أعلاه، تهدف باقة الاشتراك التي تقدمها هيلبو إلى استخدامها
         للحالات الطارئة فقط، وتحديداً للحوادث أو الاعطال. يُحظر بشدة استخدام
         الباقة للحالات غير الطارئة، بما في ذلك ولكن لا يقتصر على الراحة
         الشخصية، والصيانة الروتينية، والخدمة العادية، أو أي ظروف غير طارئة
         أخرى. إذا تم اكتشاف استخدام خدمات الباقة لأغراض غير طارئة، فإن هيلبو
         لها الحق في سحب حق العميل في استخدام الاشتراك واتخاذ الإجراءات
         المناسبة، بما في ذلك إنهاء الاشتراك دون استرداد. مسؤولية المشترك هو
         ضمان استخدام خدمات الباقة فقط للحالات الطارئة كما هو مبين في هذه الشروط
         والأحكام. من خلال الاشتراك في الباقة، فإنك تقر وتوافق على الامتثال لهذا
         البند الإضافي بشأن استخدام الباقة للحالات الطارئة فقط.
      </p>
      <h2>الملكية الفكرية</h2>
      <p>
         تمتلك الشركة وحدها جميع الحقوق والملكية والمصلحة ، بما في ذلك جميع حقوق
         الملكية الفكرية ذات الصلة ، في البرنامج والخدمة. إلى الحد الذي تقدم فيه
         أي اقتراحات أو أفكار أو طلبات تحسين أو تعليقات أو توصيات أو معلومات
         أخرى تتعلق بالخدمة أو البرنامج ، فإنك بذلك تعين للشركة جميع الحقوق
         والملكية والمصالح المتعلقة بها. هذه الاتفاقية ليست عملية بيع ولا تنقل
         لك أي حقوق ملكية في البرنامج أو الخدمة أو تتعلق بهما ، أو أي حقوق ملكية
         فكرية مملوكة للشركة. يُعد اسم الشركة وشعار الشركة وأسماء المنتجات
         المرتبطة بالبرنامج والخدمة علامات تجارية للشركة أو لأطراف ثالثة ، ولا
         يتم منح أي حق أو ترخيص لاستخدامها.
      </p>
      <h2>التعويض</h2>
      <p>
         من خلال الدخول في هذه الاتفاقية واستخدام البرنامج أو الخدمة ، فإنك
         توافق على الدفاع عن الشركة ومرخصيها وجميع المؤسسات الأم والشركات
         التابعة لها والشركات التابعة لها والمسؤولين والمديرين والأعضاء
         والموظفين والمحامين والوكلاء وتعويضهم واحتجازهم. ضد أي وجميع المطالبات
         والتكاليف والأضرار والخسائر والمسؤوليات والنفقات (بما في ذلك أتعاب
         المحاماة والتكاليف) الناشئة عن أو فيما يتعلق بما يلي: <br />(أ) انتهاكك
         أو خرقك لأي بند من بنود هذه الاتفاقية أو أي قانون أو لائحة معمول بها ،
         سواء تمت الإشارة إليه هنا أم لا<br />
         (ب) انتهاكك لأي حقوق خاصة بأي طرف ثالث ، بما في ذلك مزودي خدمات الأطراف
         الثالثة التي يتم ترتيبها عبر الخدمة أو البرنامج <br />(ج) استخدامك أو
         إساءة استخدامك للبرنامج أو الخدمة أو أي خدمة تابعة لجهة خارجية.
      </p>
      <h2>ايقاف او تعليق الحسابات</h2>
      <p>
         تحتفظ الشركة بالحق في: <br />
         (1) تعديل أو إيقاف الخدمة (أو أي جزء منها) بشكل مؤقت أو دائم <br />
         (2) رفض أي وجميع الاستخدامات الحالية والمستقبلية للخدمة أو تعليق حسابك
         أو إنهائه (أي جزء منه) أو استخدام الخدمة ، لأي سبب ، بما في ذلك إذا
         اعتقدت الشركة أنك انتهكت هذه الاتفاقية. لن تكون الشركة مسؤولة تجاهك أو
         تجاه أي طرف ثالث عن أي تعديل أو تعليق أو وقف للخدمة. <br />

         لا تقدم الشركة أي تعهد أو ضمان أو ضمان فيما يتعلق بالموثوقية أو الجودة
         أو الملاءمة أو الدقة أو اكتمال الخدمة أو البرنامج (أو أي خدمات تابعة
         لجهة خارجية). لا تتعهد الشركة أو تضمن أن: <br />
         (أ) استخدام الخدمة أو البرنامج سيكون آمنًا أو في الوقت المناسب أو بدون
         انقطاع أو خالي من الأخطاء أو يعمل مع أي أجهزة أو برامج أو نظام أو
         بيانات أخرى ،
         <br />(ب) الخدمة أو البيانات سوف تفي البرامج (أو أي خدمات تابعة لجهات
         خارجية) بمتطلباتك أو توقعاتك ، <br />(ج) جودة أي منتجات أو خدمات أو
         معلومات أو مواد أخرى قمت بشرائها أو الحصول عليها من خلال الخدمة (بما في
         ذلك ما يلزمك) أو التوقعات ، <br />(د) سيتم تصحيح الأخطاء أو العيوب في
         الخدمة أو البرنامج <br />(هـ) الخدمة أو الخادم (الخوادم) التي تجعل
         الخدمة متوفرة خالية من الفيروسات أو المكونات الضارة الأخرى <br />. يتم
         توفير الخدمة والبرامج لك بدقة "كما هي". جميع الشروط والإقرارات
         والضمانات ، سواء كانت صريحة أو ضمنية أو قانونية أو غير ذلك ، بما في ذلك
         ، على سبيل المثال لا الحصر ، أي ضمان ضمني لقابلية التسويق أو الملاءمة
         لغرض معين أو عدم الانتهاك بموجب القانون المعمول به من قبل الشركة. لا
         تقدم الشركة أي تعهد أو ضمان أو ضمان فيما يتعلق بموثوقية أو سلامة أو
         جودة أو ملاءمة أي خدمات لأطراف أخرى. أنت تقر وتوافق على أن المخاطر
         الكاملة الناشئة عن استخدامك للبرنامج والخدمة ، وأي خدمات لأطراف ثالثة ،
         تبقى وحدك معك ، إلى الحد الأقصى الذي يسمح به القانون.
      </p>
      <h2>تأخيرات الشبكة</h2>
      <p>
         قد تخضع خدمات الشركة وبرامجها للقيود والتأخيرات والمشكلات الأخرى
         الكامنة في استخدام الإنترنت وشبكات الاتصالات والاتصالات الإلكترونية.
         الشركة ليست مسؤولة عن أي تأخير أو فشل في التسليم أو أي ضرر آخر ناتج عن
         مثل هذه المشاكل.
      </p>
      <h2>تحديد المسؤولية</h2>
      <p>
         تقع على عاتقك وحدك المسؤولية عن القرارات التي تتخذها بشأن الخدمات
         المقدمة عبر البرنامج أو الخدمة (مع جميع تداعياتها). لن نقوم بتقييم
         ملاءمة أو قانونية أو قدرة أي طرف ثالث من هذا القبيل وأنت تتنازل صراحة
         عن الشركة وتعفيها من أي وجميع المسؤوليات أو الدعاوى أو أسباب الدعوى أو
         الأضرار الناشئة عن استخدامك للبرنامج أو الخدمة. من خلال استخدام الخدمة
         أو البرنامج ، فإنك توافق على أن الاستثناءات وقيود المسؤولية المنصوص
         عليها في هذه الاتفاقية معقولة. إذا كنت لا تعتقد أنها معقولة ، فلا يجب
         عليك استخدام الخدمة أو البرنامج.
      </p>

      <h2>الاشعارات</h2>
      <p>
         قد تقدم الشركة إشعارًا لك عن طريق إشعار عام على جزء من الخدمة (والذي قد
         يشمل النشر على موقع الشركة على الويب) ، أو بالبريد الإلكتروني على عنوان
         بريدك الإلكتروني المسجل في معلومات حساب الشركة
      </p>

      <h2>القانونية</h2>
      <p>
         باستثناء ما هو منصوص عليه صراحةً خلاف ذلك ، ستخضع هذه الاتفاقية لقوانين
         جمهورية مصر العربية وسيتم تفسيرها وفقًا لها ، بغض النظر عن مبادئ اختيار
         القانون. أنت توافق على الاختصاص والمكان حصريًا في محاكم جمهورية مصر
         العربية.
      </p>
      <p>
         أنت توافق على أن الشركة تحتفظ بالحق في المطالبة بأمر زجري أو أي تعويض
         إنصافي آخر في محكمة ذات اختصاص قضائي لمنع الانتهاك الفعلي أو التهديد أو
         الاختلاس أو الانتهاك لحقوق التأليف والنشر أو العلامات التجارية أو
         الأسرار التجارية أو براءات الاختراع أو حقوق الملكية الفكرية الأخرى
      </p>
   </body>
</html>
