<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Terms and Conditions</title>
      <style>
         body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            line-height: 1.6;
         }
         h1 {
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
         }
         h2 {
            font-size: 20px;
            text-decoration: underline;
         }
         h3 {
            font-size: 16px;
            text-decoration: underline;
         }
         p {
            margin-bottom: 10px;
         }
         ul {
            margin: 0;
            padding-left: 20px;
         }
      </style>
   </head>
   <body>
      <h1>Terms and Conditions</h1>
      <p>
         The terms and conditions outlined here constitute a legal
         agreement between you and helpoo for assistance in communicating with
         insurance companies, using applications or websites, and downloading or
         installing any related software or applications provided by the
         company. The purpose of these tools is to enable you to use the service
         (generally referred to as "the Program"). By agreeing to these terms,
         you acknowledge and agree to comply with the terms and conditions of
         this agreement and any future modifications or additions to this
         agreement as posted on the company's website or through other services.
         <br />
         The company reserves the right to modify the terms and conditions of
         this agreement or its policies related to the service or program at any
         time, and such modifications will be effective upon the publication of
         an updated version of this agreement on the service or program. You are
         responsible for regularly reviewing this agreement. Continued use of
         the service or program after any such changes constitutes your
         acceptance of the changes. <br />
         If you require further information or have any questions about our
         terms and conditions, please do not hesitate to contact us at <a
            href="mailto:support@helpooapp.com"
            >support@helpooapp.com</a
         >.
      </p>
      <h2>The Services</h2>
      <p>
         "helpoo" is a user-friendly mobile application that enables you to
         easily request roadside assistance services in Egypt, report accidents
         immediately upon occurrence, and document the damages through
         photographs using AI, voice and text. By using the service, you agree
         to release the company from any liability or damage that may arise from
         the relevant transactions. The company, its subsidiaries, or its
         licensees are not responsible for the behavior, whether online or
         offline, of any user of the service or of any third-party service
         providers. The company, its subsidiaries, and its licensees shall not
         be liable for any claim, injury, or damage resulting from your use of
         the service or any third-party services. By requesting the service, you
         agree to bear the cost of the service and any associated expenses. In
         the event of waiting for the company's RSA (roadside assistance)
         vehicles with the customer, the customer is responsible for covering
         the waiting costs and any additional expenses incurred. Please note
         that these terms and conditions apply to all service transactions
         provided by the company.
      </p>
      <h3>Representations and Warranties</h3>
      <p>
         By using the program or the service, you expressly represent and
         warrant that you are legally entitled to enter into this agreement.
         Without limitation, the service and programs are not available to
         children (persons under the age of 18) or other individuals who are
         unable to enter into binding contracts, unless they have the consent
         and permission of their guardian. By using the program or the service,
         you represent and warrant that you are at least 18 years of age, or
         that you have obtained the consent and permission of your guardian,
         and/or that you are able to enter into binding contracts. By using the
         program or the service, you represent and warrant that you have the
         right, authority, and capacity to enter into this agreement and to
         comply with the terms and conditions of this agreement. Your
         participation in using the service and/or the program is for your
         personal use only. You are not allowed to authorize others to use
         your user account, nor are you allowed to assign or transfer your user
         account to any other person or entity without obtaining prior approval
         from the company. When using the program or the service, you agree to
         comply with all applicable laws in the country and city where you are
         using the program or the service. You may only use the service using
         authorized means. You are responsible for verifying that you have
         downloaded the correct program for your device. The company is not
         liable if you do not have a compatible phone or if you download the
         wrong version of the program for your phone. By using the program or
         the service, you agree that you will not:
      </p>
      <ul>
         <li>
            Use the service or the program for any illegal purpose; you will not
            use the service to send or store any illegal materials or for
            fraudulent purposes.
         </li>
         <li>Use the service or the program to cause annoyance or nuisance.</li>
         <li>Interfere with the proper functioning of the network.</li>
         <li>Attempt to damage the service or the program in any way.</li>
         <li>
            Copy or distribute the program or any other content without written
            permission from the company.
         </li>
         <li>
            Use the program and service only for your personal use and not
            resell it to any third party.
         </li>
         <li>
            Maintain the confidentiality of your account password or any
            identification provided to you that allows access to the service.
         </li>
         <li>
            Provide us with any identification or ownership proof that the
            company may reasonably request.
         </li>
         <li>Use only an authorized access point or data account.</li>
         <li>
            Take negative pictures or portray the company or its services in any
            false, misleading, or derogatory way.
         </li>
         <li>
            Publish or transfer any image of another person without their
            consent, where required by law.
         </li>
         <li>
            Publish, transfer, reproduce, distribute or exploit in any form any
            information, programs, or other materials obtained through the
            services for commercial purposes (except as expressly permitted by
            the service and by the provider of such information, programs, or
            other materials).
         </li>
         <li>
            Upload, post, transmit, reproduce, distribute, or exploit in any
            form any information, programs, or other materials obtained through
            the services that are protected by copyright or other proprietary
            rights or derivative works thereof, without obtaining permission
            from the owner of the copyright or other right, including, but not
            limited to, patents, trademarks, trade secrets, copyrights,
            publicity, or other proprietary rights.
         </li>
      </ul>
      <h2>Licensing and Restrictions</h2>
      <p>
         The company hereby grants you a non-exclusive, non-transferable right
         to use the program and service, solely for non-commercial personal
         purposes, subject to the terms and conditions of this agreement. All
         rights not expressly granted to you herein are reserved by the company
         and its licensors. You shall not:
      </p>
      <ul>
         <li>
            License, sublicense, sell, resell, transfer, assign, distribute or
            commercially exploit or make available the service or program to any
            third party in any way;
         </li>
         <li>
            Modify or make derivative works based upon the service or program;
         </li>
         <li>
            Create "links" to the service on the internet, or "frame" or
            "mirror" any program on any other server or wireless or
            internet-based device;
         </li>
         <li>Reverse engineer the program;</li>
         <li>
            Access the software or the services for the purpose of building a
            competitive product or service;
         </li>
         <li>
            Create a product using ideas, features, functions, or graphics
            similar to the service or program
         </li>
         <li>
            Copy any ideas, features, functions, or graphics from the service or
            program;
         </li>
         <li>
            Run automated programs or applications that send an infinite number
            of requests to the company's server;
         </li>
         <li>
            Send or store material that is infringing, obscene, threatening,
            defamatory, illegal, or harmful, including material harmful to
            children or that violates the company's privacy rights;
         </li>
         <li>
            Send or store material containing viruses, mobile viruses, or any
            other harmful software, instructions, files, texts, agents, or other
            harmful programs;
         </li>
         <li>
            Interfere with or disrupt the integrity or performance of the
            program or service or the data contained therein;
         </li>
         <li>
            Attempt to gain unauthorized access to the program, service, or
            related systems or networks.
         </li>
      </ul>

      <h2>Subscribing to Packages</h2>
      <p>The following terms apply to subscribing to helpoo packages:</p>
      <ul>
         <li>Membership subscriptions must be renewed by the user.</li>
         <li>
            You may cancel your membership subscription at any time by following
            the instructions included in the email confirming the purchase or
            renewal of your membership subscription, subject to the conditions
            below:
         </li>
         <li>
            Cancellation will stop the automatic renewal of the membership
            subscription and future payments, but previous membership
            subscription fees are non-refundable.
         </li>
         <li>
            The membership period, package details, and cost of the membership
            subscription you are purchasing will be disclosed before and after
            purchase.
         </li>
         <li>
            We transfer your billing information to our payment processors as
            outlined in our privacy policy.
         </li>
         <li>
            Offers may be subject to additional restrictions, which will
            generally be provided to you at the time of receipt of the offer.
         </li>
         <li>
            The subscription packages are only for personal use on private
            vehicles, and are not intended for commercial use, such as in taxis
            or any other type of transportation or commercial use
         </li>
         <li>
            If it is found that the subscription is being used for any vehicle
            with commercial purposes, such as in taxis or any other type of
            transportation, the customer's right to use the subscription will be
            revoked.
         </li>
      </ul>
      <p>
         Please carefully read these membership subscription terms before using
         helpoo's subscription services. These membership subscription terms
         (including the other documents referred to below) constitute a legal
         agreement between you and helpoo. If you purchase or register for a
         membership subscription through a helpoo external partner, you may also
         be subject to additional terms and conditions provided by that service.
      </p>
      <ul>
         <li>
            1. Eligibility Requirements <br />
            In order to be eligible to access and use the membership
            subscription, you must meet the following criteria ("Eligibility
            Requirements"):
            <ul>
               <li>
                  You must be located in Egypt, be at least 18 years old, and be
                  qualified and able to enter into a binding agreement;
               </li>
               <li>
                  You must have a helpoo account, which includes payment of all
                  applicable fees and taxes, if any.
               </li>
               <li>
                  You must meet any additional qualifications or agree to any
                  disclosed restrictions applicable to the current membership
                  subscription offer, which we may update from time to time.
               </li>
            </ul>
         </li>
         <li>
            2. Subscribing to Membership <br />
            You can purchase a membership subscription ("Registration"). The
            fees include applicable value-added tax as required.
         </li>
         <li>
            3. Use and Renewal <br />
            You may use helpoo services three days after completing your
            membership subscription, and it will continue until the end of the
            applicable membership period. You must assign one or more cars to
            the package, and you may only use the designated car for one package
            and cannot combine two packages for the same car at once. To
            continue accessing membership subscription services after
            your payment period has ended, you will need to purchase a new
            membership subscription.
         </li>
         <li>
            4.Cancelling Membership Subscription. Refunds <br />
            You cannot cancel your membership subscription at any time.
         </li>
         <li>
            5. Availability and Modifications <br />
            helpoo reserves the right to modify, offer, or discontinue
            membership subscription services at any time in its sole discretion,
            including, but not limited to, changes in fees or eligibility
            requirements for certain membership subscription services, or
            modifications to features and functions of certain membership
            subscription services. If we cease providing your current membership
            subscription, your access to membership subscription services will
            continue until the end of your membership period. We will provide
            you with thirty (30) days' prior notice via email before any changes
            to membership subscription services or fees take effect. Please
            review your membership subscription service terms and conditions.
            Any changes to membership subscription services or fees will apply
            to the next billing cycle associated with the start of the
            membership period and will not be retroactively applied to the
            current membership period.
         </li>
         <li>
            6. Changes to Membership Subscription Terms <br />
            We may modify these membership subscription terms from time to time.
            If we make material changes to these membership subscription terms
            as they apply to the currently active membership subscription
            service, we will provide you with appropriate notice of such
            changes. The modified membership subscription terms will become
            effective upon your next renewal of your membership subscription,
            and your continued use of membership subscription services will
            constitute your acceptance of the modified terms. If you are
            unwilling to accept the modifications, you may cancel your
            membership subscription services as outlined in section 4 above.
         </li>
         <li>
            7. Membership Subscription Provider <br />
            helpoo is the provider of membership subscription services in
            the Arab Republic of Egypt and its territories.
         </li>
         <li>
            8. Fees and Payment Terms <br />
            You are responsible for timely payment of all fees and providing the
            company with a valid credit card account to pay all fees at all
            times. If you make payment for our products or services on our
            website or mobile application, payment details to be submitted
            directly to the payment provider or processor via a secure
            connection will be provided to you. The cardholder must retain a
            copy of transaction records and merchant policies and rules. We
            accept online payments using Visa and Mastercard credit/debit cards
            in Egyptian pounds (or any other agreed upon currencies). You must
            provide updated billing information, including payment method. You
            authorize us and direct us to collect fees from your designated
            payment method for these fees or, if your designated payment
            method fails, to collect from any other payment method registered
            with us. The company reserves the right, at its sole discretion, to
            offer promotional offers with different features and prices to any
            of our customers. Unless such promotional offers are made to you,
            they shall have no effect of any kind on your offer or contract. The
            company may change our service fees as we see necessary for our
            business. We encourage you to regularly check our mobile application
            if you are interested in keeping up with package pricing.
         </li>
      </ul>
      <!-- ... (Rest of the sections and content) -->
      <h3>Additional Item</h3>
      <p>
         Package Usage for Emergency Purposes Only In addition to the terms and
         conditions stated above, the package subscription provided by helpoo is
         intended for emergency purposes only, specifically for situations such
         as accidents or car problems. The package services should not be used
         for any other non-emergency purposes. Usage of the package for
         non-emergency situations, including but not limited to personal
         convenience, routine maintenance, regular servicing, or any other
         non-emergency circumstances, is strictly prohibited. If it is found
         that the package services are being utilized for non-emergency
         purposes, helpoo reserves the right to revoke the customer's right to
         use the subscription and take appropriate action, which may include
         termination of the subscription without refund. It is the
         responsibility of the subscriber to ensure that the package services
         are used solely for emergency situations as outlined in these terms and
         conditions. By subscribing to the package, you acknowledge and agree to
         abide by this additional item regarding the usage of the package for
         emergency purposes only.
      </p>
      <h2>Intellectual Property</h2>
      <p>
         The company solely owns all rights, title, and interest, including all
         related intellectual property rights, in the software and service. To
         the extent that any suggestions, ideas, requests for improvement,
         comments, recommendations, or other information relating to the service
         or software are provided by you, you hereby assign to the company all
         rights, title, and interest in and to such suggestions, ideas, requests
         for improvement, comments, recommendations, or other information. This
         agreement is not a sale and does not transfer to you any ownership
         rights in the software or service, or any intellectual property rights
         owned by the company. The company name, company logo, and product
         names associated with the software and service are trademarks of the
         company or third parties, and no right or license to use them is
         granted. Indemnification By entering into this agreement and using the
         software or service, you agree to defend, indemnify, and hold harmless
         the company and its licensors, parent entities, subsidiaries,
         affiliates, officers, directors, members, employees, attorneys, and
         agents, from and against any and all claims, costs, damages, losses,
         liabilities, and expenses (including attorneys' fees and costs) arising
         out of or in connection with: (a) your violation or breach of any term
         of this agreement or any law or regulation, whether or not referenced
         herein; (b) your violation of any rights of any third party, including
         third-party service providers arranged through the service or software;
         or (c) your use or misuse of the software or service or any third-party
         service.
      </p>
      <h2>Indemnification Clause</h2>
      <p>
         By entering into this agreement and using the software or service, you
         agree to indemnify and hold harmless the Company, its licensors, parent
         companies, subsidiaries, affiliated companies, officers, directors,
         members, employees, attorneys, and agents from and against any and all
         claims, costs, damages, losses, liabilities, and expenses (including
         attorney's fees and costs) arising out of or relating to the following:
         <br />

         (a) Your violation or breach of any provision of this agreement or any
         applicable law or regulation, whether referenced herein or not. <br />
         (b) Your violation of any rights of any third party, including
         third-party service providers arranged through the service or software.
         <br />
         (c) Your use or misuse of the software or service or any third-party
         affiliated service.
      </p>
      <h2>Account Suspension or Termination</h2>
      <p>
         The company reserves the right to: <br />
         (1) modify or discontinue the service (or any part of it) temporarily
         or permanently; <br />
         (2) refuse any and all current or future use of the service, or suspend
         or terminate your account (any part of it), or use of the service, for
         any reason, including if the company believes that you have violated
         this agreement. The company will not be liable to you or any third
         party for any modification, suspension, or discontinuation of the
         service. <br />
         The company does not provide any representation, warranty, or guarantee
         regarding the reliability, quality, suitability, accuracy, or
         completeness of the service or software (or any third-party services).
         The company does not represent or warrant that: <br />
         (a) the use of the service or software will be secure, timely,
         uninterrupted, error-free, or compatible with any devices, software,
         system, or other data;
         <br />(b) the service or data will meet the requirements or
         expectations of the software (or any third-party services); <br />(c)
         the quality of any products, services, information, or other materials
         that you purchase or obtain through the service (including what is
         required of you) will meet your expectations; <br />(d) any errors or
         defects in the service or software will be corrected; <br />(e) the
         service or server(s) that make the service available are free of
         viruses or other harmful components. <br />The service and software are
         provided to you strictly "as is". All conditions, representations, and
         warranties, whether express, implied, legal, or otherwise, including,
         but not limited to, any implied warranty of merchantability, fitness
         for a particular purpose, or non-infringement, are hereby disclaimed to
         the maximum extent permitted by law by the company. The company does
         not provide any representation, warranty, or guarantee regarding the
         reliability, safety, quality, or suitability of any services to third
         parties. You acknowledge and agree that the full risks arising from
         your use of the software and service, and any third-party services,
         remain solely with you, to the maximum extent permitted by law.
      </p>
      <h2>Network</h2>
      <p>
         The company's services and software may be subject to restrictions,
         delays, and other issues inherent in the use of the internet,
         communication networks, and electronic communications. The company is
         not responsible for any delay or failure in delivery or any other
         damages resulting from such problems.
      </p>
      <h2>Responsibility Allocation</h2>
      <p>
         You are solely responsible for the decisions you make regarding the
         services provided through the software or service (and all of their
         consequences). We will not evaluate the suitability, legality, or
         capabilities of any third-party service, and you expressly release and
         discharge the company from any and all liabilities, claims, causes of
         action, or damages arising from your use of the software or service. By
         using the service or software, you agree that the limitations and
         exclusions of liability set forth in this agreement are reasonable. If
         you do not believe they are reasonable, you should not use the service
         or software.
      </p>

      <h2>Notifications</h2>
      <p>
         The company may provide notifications to you through a general notice
         on a part of the service (which may include posting on the company's
         website) or by email to your registered email address in your account
         information.
      </p>

      <h2>Legal</h2>
      <p>
         Except as expressly stated otherwise, this agreement shall be governed
         by the laws of the Arab Republic of Egypt and shall be interpreted
         accordingly, irrespective of principles of conflicts of law.
      </p>
      <p>
         You agree that the company retains the right to seek injunctive relief
         or any other equitable remedy in a court of competent jurisdiction to
         prevent the actual or threatened infringement, misappropriation, or
         violation of copyrights, trademarks, trade secrets, patents, or other
         intellectual property rights.
      </p>
   </body>
</html>
